
body {
	background-color: #EBEBEB;
}

.navbar {
	height: 24px;
	background-color: #16416e;
}

.nav-item {
	color: white;
}

.container {
	width: 960px;
}

#logo {
	width: 960px;
}

.header {
	
}

#container-enemy {
	background-image: url(/images/panel-bg-bl.png);
	background-repeat: repeat-x;
	text-align: center;
	font-size: 12px;
	color: #16416f;
	font-weight: bold;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.footer {
	height: 200px;
	border-top: 2px solid #999;
	padding: 5px 20px 15px 20px;
}

.header-bar {
	height: 24px;
	background-color: #16416e;
}

#social-container {
	margin-top: 20px;
}
#social-container img {
	margin-left: 20px;
}

#main-container {
}

.bttm {
	background-color: white;
	text-align: center;
}

#about {
	font-size: 12px;
}

#mofos li img{
	cursor: pointer;
}

#mofos li figcaption {
	cursor: pointer;
}

#mofos li figcaption:hover {
	text-decoration: underline;
}